<!DOCTYPE html>
{% load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="Extract or scan text from images in multiple languages- English Hindi Nepali etc. Quickly Get Text from Image"
    />
    <title>IMG TO TEXT(ARABIC)</title>
    <script src="{%static 'jq.js' %}"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
      integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="{%static 'bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{%static 'bootstrap.css' %}" />
    <link href=" {%static 'src/css/main.css' %}" rel="stylesheet" type="text/css">
  </head>
  <style>
    #result{
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      padding: 10px 0;
    }
    
    .thumbnail {
     
      
      width: 50;
    }
    .table-image {
      td, th {
        vertical-align: middle;
      }
    }
  </style>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light opacity-50">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"
          ><img src="{%static '1.png'%} " alt="" width="30" height="30"
        /></a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarColor03"
          aria-controls="navbarColor03"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              {% comment %} <a class="nav-link active" href="#"
                >Home
                <span class="visually-hidden">(current)</span>
              </a> {% endcomment %}

              {% comment %}
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            {% endcomment %}
          </ul>
          <div class="d-flex">
            <a
              class="navbar-brand"
              href="https://www.linkedin.com/in/romanytadrosmilad/"
              ><img
                src="{%static 'linkedin.svg'%} "
                alt=""
                width="30"
                height="30"
            /></a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container"  >
      <div class="row" >
        <div class="col">

        </div>
        <div class="col-12 mt-2 sm" >
          <div class="card border-primary m-3 sm bg-light "  >
            {% comment %} <button
              class="btn btn-lg btn-secondary card-body"
              onclick="document.getElementById('formFile').click()"
            > {% endcomment %}
            <form action="" method="" enctype="multipart/form-data" id="my-form">
              
            </form>

<div class="multiple-uploader  " id="multiple-uploader" >
    <div class="mup-msg">
        <span class="mup-main-msg">click to upload images </span>
        <span class="mup-msg" id="max-upload-number">Upload up to 5 images (2mb/img)</span>
        <span class="mup-msg">Only images are allowed for upload</span>
        
    </div>
</div>
</div>

</div>
<div class="col">
  
</div>
</div>
</div>
<div class="container">
<div class="row">
  <div class="col">
  
  </div>
  <div class="col text-center">

    <form action="" method="post" enctype="multipart/form-data" id="forma">
      {% csrf_token %}
<input type="file" name="finalimg" id="finalimg" style="display:none ! important" multiple/>

      <button type="submit" class="btn btn-success  " id="upload">Proccess</button>
    </form>

</div>
<div class="col"></div>
</div>
  </div>
  <div class="container">
  <div class="row">
  <div class="col m-2">
    {% if imageaa %}
  <table class="table table-image">
    <thead>
      <tr>
        <th scope="col">#No</th>
        <th scope="col">Image</th>
        <th scope="col">Text</th>
       </tr>
    </thead>
    <tbody>
      {% for img,txta in imageaa %}
      {% if img %}
      <tr class="table-active">
        <th scope="row">{{ forloop.counter }}</th>
        <td><img class="img-fluid img-thumbnail"
         width="150px"
              src="data:image/png;base64, {{ img }}"></td>
        <td><textarea class="form-control text-center col-12 " height="100%"    id="exampleTextarea" rows="7">{{ txta }}</textarea> </td>
       </tr>
       
       {% endif %}
       {% endfor %} 
    </tbody>
  </table>
  {% endif %}
     
</div>
  
</div>
</div>


 

{% comment %} <script src="{% static 'src/js/functions.js' %}"></script> {% endcomment %}

<script src="{%static 'src/js/multiple-uploader.js' %}"></script>
<script>

    let multipleUploader = new MultipleUploader('#multiple-uploader').init({
        maxUpload : 5,  
        maxSize:2, 
        filesInpName:'images',  
        formSelector: '#my-form',  
    });
  </script>
   
 

     
  </body>
</html>
